/*---------------960 Screen size---------------*/

@media only screen and (min-width:768px) and (max-width:1190px) {.post-edit-link {display: none;}
.header_wide .row {padding-right: 0;max-width: 95%;}
.row {padding-left: 0;max-width: 95%;}
.column, .columns {padding-right: 0;padding-left: 0;}
.scroll-menu {display: none;}
.main-content-wrapper {width: 65%;box-shadow: 555px 0 0 #e8e8e8,920px 0 0 #e8e8e8;}
.sidebar-wrapper {width: 35%;padding: 0 0 0 30px;}
.entry-title, .entry-content-wrapper {width: 85%;}
#sidebar .widget ul, #sidebar .widget > div {padding: 0 20px 0 0;}
.meta-image {width: 85%;}
.shl_flexslider_wrap {min-height: 440px; width: 100%;}
.shl_flexslider .flex-viewport {height: auto;}
.format-gallery .format-meta{bottom: -1px;}
.entry-meta {width: 12.6%;}
.meta-image img {width: 100%;}
.meta-inner {display: block;width: 63px;height: 63px;padding: 15px 10px;}
.meta-wrapper > div {margin-bottom: 6px;padding: 0;}
.meta-tooltip {right: -245px;}
.meta-hex .meta-inner:before {left: 0;}
.entry-content {padding-right: 0;}
.format-content {width: 85%;}
.no-meta .format-content{width: 100%;}
.format-audio .mejs-container.mejs-container {width: 101% !important;height: 64px !important;background: transparent;}
.format-audio .no-meta .mejs-container.mejs-container {width: 100% !important;height: 64px !important;padding: 0 30px 0 0;}
.format-video .mejs-container.mejs-container {width: 100% !important;}
.format-video .no-meta .mejs-container.mejs-container {width: 100% !important;background: #464646;}
.mejs-container .mejs-overlay-play {width: 100% !important;}
.format-video .no-meta .mejs-container .mejs-overlay-play {width: 100% !important;}
.pagination-navigation {width: 100%;}
.flexslider .slides {margin: 0;}
.no-meta .shl_flexslider_wrap {width: 100%;}
.no-meta .shl_flexslider_wrap, .no-meta .shl_carousel, .no-meta .shl_carousel .flex-viewport{width: 100%;}
.no-meta .entry-content-wrapper, .no-meta.entry-content{width: 100%; padding: 0 30px 0 0;}
.no-meta.entry-content{max-width: 100%;}
.no-meta.entry-content{width: 100%; padding: 0;}
.shl_carousel{margin-top: 5px;}
.no-meta .shl_flexslider .flex-viewport{width: 100%; height: auto;}
.flexslider .slides img {width: auto;height: auto;max-width: 100%;}
.shl_flexslider .flex-viewport, .shl_flexslider, .shl_carousel, .shl_carousel .flex-viewport {width: 100%;}
.pagination-wapper {width: 100%;box-shadow: -590px 0 0 rgba(220,220,226,0.5);}
.post-navigation {box-shadow: -590px 0 0 #eeeeee;}
.comments_main, .author-box {padding-top: 30px;box-shadow: -590px 0 0 #f6f6f6;}
#map_canvas {max-width: 100%;}
#sidebar .mks_ads_widget .small li, #sidebar .mks_ads_widget ul.custom li {margin-right: 3%;}
.mks_flickr_widget ul.flickr a, .mks_flickr_widget ul.flickr img {width: 70px;height: 70px;}
#sidebar .format-meta, #footer .format-meta {width: 94%;}
.default-page .entry-content-wrapper, .entry-page-wrapper {padding-right: 30px;}
.no_sidebar .meta-image, .no_sidebar .shl_flexslider_wrap {width: 88%;}
.no_sidebar .entry-meta {width: 10%;}
.no_sidebar .format-content{width:88%; }
.meta-octa .meta-inner:before {left: 0;background-size: 63px 63px;}
.no-meta .meta-image{width: 100%; padding: 0 30px 0 0;}

.no_sidebar .no-meta .entry-content-wrapper, .no_sidebar .no-meta.entry-content,
.no_sidebar .no-meta .meta-image{padding: 0;}
.no_sidebar .main-content-wrapper .no-meta.entry-content, .no_sidebar .main-content-wrapper{max-width: 768px;display: block;width: 100%;}
.no_sidebar .meta-fixed.scroll-to-fixed-fixed{margin-left: 692px !important;}
.no_sidebar .meta-tooltip {right: -150px;width: 150px;}
.no_sidebar .pagination-wapper{position: relative;}
.no_sidebar .subheader_box_color .row{width: 85%;}
.meta-list{width: 95%;}
.full-width{width: 100%;}

}
/*---------------iPad landscape---------------*/

@media only screen and (min-device-width:768px) and (max-device-width:1024px) {}

/*---------------iPad portrait---------------*/

@media only screen and (min-width:480px) and (max-width:959px) {
.header_wide .row {padding-right: 0;max-width: 85%;}
.row {padding-left: 0;max-width: 85%;}
.main-content-wrapper {width: 100%;box-shadow: none;}
.entry-title, .entry-content-wrapper {width: 100%;}
.post-navigation, .no_sidebar .post-navigation {padding: 0;box-shadow: -590px 0 0 #eeeeee,590px 0 0 #eeeeee;}
.main-content-wrapper:after {display: none;background: transparent;}
.comments_main, .author-box {padding: 30px 0 0;box-shadow: -590px 0 0 #f6f6f6,590px 0 0 #f6f6f6;}
.pagination-navigation {width: 100%;}
.pagination-wapper {box-shadow: -590px 0 0 rgba(220,220,226,0.5) ,590px 0 0 rgba(220,220,226,0.5);}
.sidebar-wrapper {width: 100%;margin-top: 0;padding: 30px 0;background: #e8e8e8;box-shadow: 590px 0 0 #e8e8e8,-590px 0 0 #e8e8e8;}
#sidebar .widget {clear: none;width: 100%;padding: 0;}
#sidebar .widget-title {margin: 0 0 25px 0;}
#sidebar .widget ul, #sidebar .widget > div {padding: 0 10px 0 10px;}
.footer-wrapper .quarter {width: 48%;margin-left: 0;padding: 0 30px;}
.meta-image, .entry-meta {width: 100%;}
.entry-meta {margin: 1.25em 0;}
.meta-wrapper > div {display: inline-block;float: none;width: 70px;margin: 0 auto;padding: 10px 0 10px;vertical-align: top;}
.meta-image {margin-bottom: 10px;}
.meta-tooltip {top: 85px;right: initial;margin: 0 0 0 12px;}
.meta-tooltip:after {content: " ";position: absolute;top: initial;right: initial;bottom: 100%;left: 30px;width: 0;height: 0;margin-top: 0;margin-left: -7px;padding: 0;border: solid transparent;border-bottom-color: #2f3038;border-width: 7px;}
.format-content, .no-meta .format-content {width: 100%;margin-bottom: 10px;}
.format-content img {width: 100%;height: auto;}
.shl_flexslider_wrap, .flexslider .slides img, .no-meta .shl_flexslider .flex-viewport, .no-meta .shl_flexslider_wrap, .no-meta .shl_carousel, .no-meta .shl_carousel .flex-viewport {width: 100%;}
.no-meta .shl_flexslider_wrap {width: 100%;}
.no-meta .shl_flexslider_wrap, .no-meta .shl_carousel, .no-meta .shl_carousel .flex-viewport{width: 100%;}
.no-meta .entry-content-wrapper, .no-meta.entry-content{width: 100%;}
.no-meta .shl_flexslider .flex-viewport{height: 413px;}
.wp-video {width: 100% !important;}
.meta-wrapper {position: relative;}
.meta-wrapper:after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	content: "";
	background: #e8e8e8;
}
#navigation{width: 100%; float: left; clear: both;}
#shl_header_nav.responsive li a{margin: 0 0 0 -8px;padding: 0 0 0 8px;font-size: 18px;}
#shl_header_nav.responsive .sub-menu li a{font-size: 16px;}
#shl_header_nav.responsive li{margin-bottom: 5px;}
#shl_header_nav.responsive .sub-menu{margin: 0;padding: 0 0 0 20px;background: transparent;}
.chooser{display: block;}
.main-content-wrapper{height: auto !important;}
.meta-octa .meta-inner:before{left: 0; background-size: 63px 63px; top: 10px;}
#sidebar .shl_image_widget .format-meta, #footer .shl_image_widget .format-meta {padding: 10px 15px;color: #FFF;margin: 0 0 -1px;position: relative;float: left;width: 100%;}
.admin-bar.shl_fixed #header.header{top:46px }
.action-link-wrapper{top: 35%;}
.mks_social_widget p{padding: 0 10px 0 0;}
#sidebar .mks_author_widget img{margin: 0 20px 0 10px;}
#sidebar .mks_author_widget p{margin-left: 10px;}
#sidebar .shl_flexslider .flex-viewport, #footer .shl_flexslider .flex-viewport{width: 100%; height: 454px;}
.meta-wrapper > div {
    display: inline-block;
    float: none;
    width: 83px;
    margin: 0 -6px;
    padding: 10px 0 10px;
    text-align: center;
    vertical-align: top;
    background: #FFF;
}
.meta-inner {
    display: block;
    width: 63px;
    height: 63px;
    margin: 0 auto;
    padding: 15px 10px;
}
.meta-octa .meta-inner:before {
    content: "";
    z-index: 90;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 63px;
    height: 63px;
}
#sidebar .format-content-sidebar .action-link-wrapper, #footer .format-content-sidebar .action-link-wrapper{width: 100%;}
.mks_ads_widget ul{text-align: center;}
.no-meta .meta-image{width: 100%;}
.default-page .entry-content-wrapper, .entry-page-wrapper{padding-right: 0;}
.threecol{width: 100%;}
.comment-form input, #name, #email {width: 100%;}
#footer .widget {width: 100%;margin: 0 0 30px;}
.no_sidebar .format-content, .no_sidebar .meta-image, .no_sidebar .shl_flexslider_wrap{width: 100%;}
.no_sidebar .entry-meta{width: 100%;}
.no_sidebar .meta-tooltip{right: -175px;}
#content .entry-meta.meta-fixed{position: relative !important;top: 0 !important;left: 0 !important;}
.no_sidebar .meta-fixed.scroll-to-fixed-fixed{margin-left: 0 !important;}

.no_sidebar .main-content-wrapper .no-meta.entry-content, 
.no_sidebar .main-content-wrapper,
.no_sidebar .subheader_box_color .row{max-width: 100%;}

.no_sidebar .no-meta .entry-content-wrapper, .no_sidebar .no-meta.entry-content,
.no_sidebar .no-meta .meta-image{padding: 0;}
.no_sidebar .pagination-wapper{position: relative;}
.meta-list{width: 100%;}
.meta-list.meta-wrapper:after{display: none;}
.subheader_box_color{min-height:100px !important;}
.colored-wrapper{padding-top: 20px !important;}
}


/*---------------iPhone landscape---------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

.scroll-menu {display: none;}
.logo-wrapper{padding: 0;}
#navigation{padding: 0;}
#shl_header_nav{display: none;}
.header_wide .row{max-width: 100%;padding-right: 0;}
.row{max-width: 420px; padding-left: 0;}	
.format-content,.no-meta .format-content{width: 100%;margin-bottom: 10px;}
.format-content img{width: 100%; height: auto;}
.shl_flexslider_wrap,.flexslider .slides img{width: 100%;}
.wp-video{width: 100% !important;}
.meta-wrapper{position: relative;}
.meta-wrapper:after{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	content: "";
	background: #e8e8e8;
}
.format-content,
.no-meta .format-content{
	width: 100%;
}
.format-audio .mejs-container.mejs-container{
	width: 101% !important;
	height: 64px !important;
	background: transparent;
}
.format-audio .no-meta .mejs-container.mejs-container{
	width: 100% !important;
	height: 64px !important;
	padding: 0 30px 0 0;	
}
.format-video .mejs-container.mejs-container{
	width: 100% !important;
}
.format-video .no-meta .mejs-container.mejs-container{
	width: 100% !important;
	background: #464646;
}
.mejs-container .mejs-overlay-play{
	width: 100% !important;
}
.format-video .no-meta .mejs-container .mejs-overlay-play{
	width: 100% !important;
}
.entry-meta{margin:1em 0;}

.pagination-navigation{
	width: 100%;
	padding: 20px 1.25em;
}
.flexslider .slides{margin: 0;}
.shl_flexslider_wrap{
	width: 100%;
}
.flexslider .slides img{
	width: auto;
	max-width:100%;  
	height:auto;
}
.shl_flexslider .flex-viewport,
.shl_flexslider,
.shl_carousel,
.shl_carousel .flex-viewport{
	width: 100%;
	height: auto;
}
.pagination-wapper{
	box-shadow: -420px 0 0 rgba(220,220,226,0.5);	
}
.post-navigation{
	box-shadow: -420px 0 0 #eeeeee;	
}
.comments_main, .author-box{
	box-shadow: -420px 0 0 #f6f6f6;	
	padding-top: 30px;
}
#map_canvas{
	max-width: 100%;
}
#sidebar .mks_ads_widget .small li, 
#sidebar .mks_ads_widget ul.custom li{
	margin-right: 3%;
}
.mks_flickr_widget ul.flickr a, 
.mks_flickr_widget ul.flickr img{
	width: 70px;
	height: 70px;
}
.post-navigation, .no_sidebar .post-navigation{box-shadow: -400px 0 0 #eeeeee, 400px 0 0 #eeeeee;}
.author-box,.comments_main, .no_sidebar .author-box, .no_sidebar .comments_main{box-shadow: -400px 0 0 #f6f6f6, 400px 0 0 #f6f6f6;}
#sidebar .widget{width: 100%;}
.sidebar-wrapper {padding: 30px 0 0; box-shadow: 420px 0 0 #e8e8e8, -420px 0 0 #e8e8e8;}
.main-content-wrapper{padding-left: 0;}
#sidebar .widget ul, #sidebar .widget > div{ padding: 0 20px 0 20px; }
.pagination-wapper{box-shadow: -400px 0 0 rgba(220,220,226,0.5) , 400px 0 0 rgba(220,220,226,0.5);}
#sidebar .widget{padding:0; }
#sidebar .widget-title{padding: 10px 0 10px 20px;margin: 0 0 25px 0;}
.shl_flexslider_wrap{min-height: 360px;}
#footer .column,.copy-area .column{padding: 0;}
#footer .widget{width: 100%; margin: 0 0 30px;}
.default-page .entry-content-wrapper, .entry-page-wrapper{padding: 0;}
.colored-wrapper.columns{padding-left: 0;}
.prev_next_nav .post_next, .prev_next_nav .post_previous{width: 100%;}
.prev_next_nav .post_previous a{text-align: left;}
.prev_next_nav .post_next a{text-align: right;}
.colored-wrapper h2{font-size: 2.4em;}
.entry-content-wrapper, .colored-wrapper{font-size: 1em;}
.subheader_bg_img{background-size: auto 100%;}
.entry-title{font-size: 2.4em;}
.entry-content-wrapper, .colored-wrapper{font-size: 1em;}
.entry-content-wrapper h1,
.colored-wrapper h1{font-size: 2.4em;}
.entry-content-wrapper h2{
  font-size: 2em;
  letter-spacing: normal;
  word-spacing: normal;
}
.entry-content-wrapper h3{
  font-size: 1.8em;
}
.entry-content-wrapper h4{
  font-size: 1.6em;
}
.entry-content-wrapper h5{
  font-size: 1.5em;
}
.entry-content-wrapper h6{
  font-size: 1.4em;
}
#shl-searh-form{max-width: 200px;}
#shl_header_nav.responsive > li > a{margin: 0 0 0 -5px;padding: 0 0 0 5px;font-size: 16px;}
#shl_header_nav.responsive .sub-menu li a{font-size: 16px;}
.meta-tooltip{width: 170px;}
.meta-wrapper > div:last-child .meta-tooltip{right:10px; }
.meta-wrapper > div:last-child .meta-tooltip:after{left:130px;}
.format-meta{position: relative;}
.mks_ads_widget ul{text-align: center;}
.threecol{width: 100%;}
.comment-form input, #name, #email {width: 100%;}
.no_sidebar .format-content, .no_sidebar .meta-image, .no_sidebar .shl_flexslider_wrap{width: 100%;}
.no_sidebar .entry-meta{width: 100%;}
.no_sidebar .meta-tooltip{right: -95px;}
#content .entry-meta.meta-fixed{position: relative !important;top: 0 !important;left: 0 !important;}
.no_sidebar .meta-fixed.scroll-to-fixed-fixed{margin-left: 0 !important;}

.no_sidebar .main-content-wrapper .no-meta.entry-content,
.no_sidebar .main-content-wrapper{max-width: 460px; display: block;}
.no_sidebar .pagination-wapper{position: relative;}
.no_sidebar .subheader_box_color .row{width: 68%;}
table{width: 100% !important;}
.meta-list.meta-wrapper:after{display: none;}
.meta-list{width: 100%;margin: 20px 0;}

.mks_col .mks_one_half, .mks_col .mks_one_third, .mks_col .mks_one_quarter, .mks_col .mks_two_thirds{width:100%; margin: 0 0 1.25em 0}
.mks_col .mks_one_half ul, .mks_col .mks_one_third ul, .mks_col .mks_one_quarter ul, .mks_col .mks_two_thirds ul{margin-left:0;}
.subheader_box_color{min-height:100px !important;}
.colored-wrapper{padding-top: 20px !important;}
}

/*--------------iPhone portrait---------------*/
@media only screen and (min-width: 270px) and (max-width: 479px) {

.scroll-menu,.shl-search-wrapper {display: none;}
.logo-wrapper{padding: 0;}

.main-content-wrapper{width: 100%; box-shadow: none;}	
.entry-title,.entry-content-wrapper{width: 100%; padding: 0 10px;}
.main-content-wrapper:after{background: transparent; display: none;}
.pagination-navigation{width: 100%;}

.meta-image{width: 100%; padding: 0 10px;}
.entry-meta{display: none;}

.format-content,
.no-meta .format-content{
	width: 100%;
	margin-bottom: 10px;
}
.format-content img{width: 100%; height: auto;}
.shl_flexslider_wrap,.flexslider .slides img{width: 100%;}
.wp-video{width: 100% !important;}
.meta-wrapper{position: relative;}


#navigation{width: 100%; float: left; clear: both;}
.chooser{display: block;}
.main-content-wrapper{height: auto !important;}

#navigation{padding: 0;}
#shl_header_nav{display: none;}

.row{max-width: 300px; padding-left: 0;}	
.format-content,
.no-meta .format-content{
	width: 100%;
	margin-bottom: 10px;
}
.format-content img{width: 100%; height: auto;}
.shl_flexslider_wrap,.flexslider .slides img{width: 100%;}
.wp-video{width: 100% !important;}
.meta-wrapper{position: relative;}
.meta-wrapper:after{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	content: "";position: absolute;position: absolute;top: 50%;top: 50%;left: 0;left: 0;width: 100%;width: 100%;height: 1px;height: 1px;background: #e8e8e8;}
.format-content, .no-meta .format-content {width: 100%; padding: 0 10px;}
.format-audio .mejs-container.mejs-container {width: 101% !important;height: 64px !important;background: transparent;}
.format-audio .no-meta .mejs-container.mejs-container {width: 100% !important;height: 64px !important;padding: 0 30px 0 0;}
.format-video .mejs-container.mejs-container {width: 100% !important;}
.format-video .no-meta .mejs-container.mejs-container {width: 100% !important;background: #464646;}
.mejs-container .mejs-overlay-play {width: 100% !important;}
.format-video .no-meta .mejs-container .mejs-overlay-play {width: 100% !important;}
.entry-meta {margin: 1em 0;}
.pagination-navigation {width: 100%;}
.flexslider .slides {margin: 0;}
.shl_flexslider_wrap {width: 100%;}
.flexslider .slides img {width: auto;height: auto;max-width: 100%;}
.shl_flexslider .flex-viewport, .shl_flexslider, .shl_carousel, .shl_carousel .flex-viewport {width: 100%;height: auto;}
.pagination-wapper {box-shadow: -290px 0 0 rgba(220,220,226,0.5);}
.post-navigation {box-shadow: -290px 0 0 #eeeeee;}
.comments_main, .author-box {padding-top: 30px;box-shadow: -290px 0 0 #f6f6f6;}
#map_canvas {max-width: 100%;}
#sidebar .mks_ads_widget .small li, #sidebar .mks_ads_widget ul.custom li {margin-right: 3%;}
.mks_flickr_widget ul.flickr a, .mks_flickr_widget ul.flickr img {width: 70px;height: 70px;}
.post-navigation, .no_sidebar .post-navigation {box-shadow: -290px 0 0 #eeeeee,290px 0 0 #eeeeee;}
.author-box, .comments_main, .no_sidebar .author-box, .no_sidebar .comments_main {box-shadow: -290px 0 0 #f6f6f6,290px 0 0 #f6f6f6;}
#sidebar .widget {width: 100%;}
.sidebar-wrapper {width: 100%;margin-top: 0;padding: 30px 0;background: #e8e8e8;box-shadow: 290px 0 0 #e8e8e8,-290px 0 0 #e8e8e8;}
.main-content-wrapper {padding-left: 0;}
#sidebar .widget ul, #sidebar .widget > div {padding: 0 10px 0 10px;}
.pagination-wapper, .no_sidebar .pagination-wapper {box-shadow: -290px 0 0 rgba(220,220,226,0.5) ,290px 0 0 rgba(220,220,226,0.5);}
#sidebar .widget {padding: 0;}
#sidebar .widget-title {margin: 0 0 25px 0;padding: 10px 0 10px 20px;}
.shl_flexslider_wrap {min-height: 253px; padding: 0 10px;}
#footer .column, .copy-area .column {padding: 0;}
#footer .widget {width: 100%;margin: 0 0 40px;padding: 0 10px;}
.default-page .entry-content-wrapper, .entry-page-wrapper {padding: 0 10px;}
.colored-wrapper.columns {padding: 20px 10px;}
.prev_next_nav .post_next, .prev_next_nav .post_previous {width: 100%;}
.prev_next_nav .post_previous a {text-align: left;}
.prev_next_nav .post_next a {text-align: right;}
#sidebar .shl_image_widget .format-meta, #footer .shl_image_widget .format-meta {float: left;position: relative;width: 100%;margin: 0 0 -1px;padding: 10px 15px;color: #FFF;}
#main {overflow: hidden;}
.chooser {margin-right: 10px;}
.logo-wrapper {margin-left: 10px;}
.header_wide .row {margin: 0;padding: 0;padding-right: 0;max-width: 100%;}
.colored-wrapper h2 {font-size: 2em;}

.entry-content-wrapper, .colored-wrapper {font-size: 1em;}
.subheader_bg_img {background-size: auto 100%;}

.entry-title{font-size: 2.4em;}
.entry-content-wrapper, .colored-wrapper{font-size: 1em;}
.entry-content-wrapper h1,.colored-wrapper h1{font-size: 2.4em;}
.entry-content-wrapper h1 {font-size: 2.2em;}
.entry-content-wrapper h2 {font-size: 2em;letter-spacing: normal;word-spacing: normal;}
.entry-content-wrapper h3 {font-size: 1.8em;}
.entry-content-wrapper h4 {font-size: 1.6em;}
.entry-content-wrapper h5 {font-size: 1.5em;}
.entry-content-wrapper h6 {font-size: 1.4em;}
.format-meta {position: relative;}
#header.header-fixed .logo-wrapper {left: 10px !important;}
.action-link-wrapper {top: 30%;}
.mks_ads_widget ul {text-align: center;}
#sidebar .format-content-sidebar .action-link-wrapper, #footer .format-content-sidebar .action-link-wrapper {width: 260px;}
.copy-area p {text-align: center;line-height: 1.4em;}
#shl_header_nav.responsive {padding: 0 10px;}
#shl_header_nav.responsive > li > a {margin: 0 0 0 -5px;padding: 0 0 0 5px;font-size: 16px;}
#shl_header_nav.responsive .sub-menu li a {font-size: 16px;}
#shl_header_nav.responsive li {margin-bottom: 7px;}
.comments_main, .author-box {padding: 0 10px;}
.comment_title, .comment-reply-title, .author-title {float: none;margin-bottom: 30px;text-align: center;}
.comments_holder .button {display: block;float: none;margin: 0 auto;}
.comment-content {clear: both;margin: 30px 0;}
ul.comment-list ul.children {margin: 30px 0;}
.comment-reply-title {margin-bottom: 30px;}
.comment-notes, .logged-in-as {text-align: center;}
.comment-form input, #name, #email {width: 100%;}
#submit {max-width: 100%;}
.mks_author_widget img {margin: 0 20px 0 10px;}
.mks_author_widget p {margin: 0 10px 0 0;}
#content .entry-content-wrapper .read-more, #content .entry-content-wrapper .more-link, .button, #submit, .wpcf7-submit, .mks_author_link, .mks_themeforest_widget .more {display: block;margin: 10px 0 0 0;}
.mks_author_link {margin-left: 10px;}
.mks_social_widget p {margin: 0 0 1.25em 0;}
.shl_flexslider_wrap .slides {padding: 0;}
.mks_flickr_widget ul.flickr a, .mks_flickr_widget ul.flickr img {width: 70px !important;height: 70px !important;}
.threecol{width: 100%;}
#shl_footer_menu, #shl_footer_menu li{float: none;text-align: center;}
#shl_footer_menu li{margin-bottom: 5px;}
.footer-wrapper .left{margin-bottom:10px;}
.no-meta .meta-image{width: 100%;}
.format-content, .no-meta .format-content {width: 100%;margin-bottom: 10px;}
.format-content img {width: 100%;height: auto;}
.shl_flexslider_wrap, .flexslider .slides img, .no-meta .shl_flexslider .flex-viewport, .no-meta .shl_flexslider_wrap, .no-meta .shl_carousel, .no-meta .shl_carousel .flex-viewport {width: 100%;}
.no-meta .shl_flexslider .flex-viewport{height: 169px;}
.reply{margin: 0 0 20px;}
.no_sidebar .format-content, .no_sidebar .meta-image, .no_sidebar .shl_flexslider_wrap{width: 100%;}
.no_sidebar .entry-meta{width: 100%;}
.no_sidebar .meta-tooltip{right: -175px;}
#content .entry-meta.meta-fixed{position: relative !important;top: 0 !important;left: 0 !important;}
.no_sidebar .meta-fixed.scroll-to-fixed-fixed{margin-left: 0 !important;}
.no_sidebar .main-content-wrapper .no-meta.entry-content,
.no_sidebar .main-content-wrapper,
.no_sidebar .subheader_box_color .row{max-width: 300px;}
#navigation{display: inline; min-width: 300px;}
.no_sidebar .main-content-wrapper .no-meta.entry-content,
.no_sidebar .main-content-wrapper{display: block;}
.no_sidebar .pagination-wapper{position: relative;}
table{width: 100% !important;}
.meta-list.meta-wrapper:after{display: none;}
.meta-list{width: 90%;margin: 0 5% 20px;}
.mks_col .mks_one_half, .mks_col .mks_one_third, .mks_col .mks_one_quarter, .mks_col .mks_two_thirds{width:100%; margin: 0 0 1.25em 0}
.mks_col .mks_one_half ul, .mks_col .mks_one_third ul, .mks_col .mks_one_quarter ul, .mks_col .mks_two_thirds ul{margin-left:0;}
.subheader_box_color{min-height:100px !important;}
.colored-wrapper{padding-top: 20px !important;}
}
@media only screen and (min-width:270px) {iframe {max-width: 100%;}
img, table {max-width: 100%;}
}

@media screen and (max-width: 782px){
html #wpadminbar {
position: fixed;
}
.admin-bar.shl_fixed .header {
top: 46px;
}
}